.input-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    border: 1px solid #323B54;
    width: 384px;
    padding: 20px 16px;
    border-radius: 12px;
    /* display: inline-block; */
}

.input-wrapper input{
    width: 100%;
    background-color: transparent;
    border: none;
    font-weight: 400;
    font-size: 14px;
    color: #8E95A9; 
    outline: none;
}

.input-wrapper input::placeholder{
    color: #475069; 
}