.rating {
    position: absolute;
    display: flex;
    gap: 4px;  
    border-radius: 8px;
    padding: 4px 8px;
    margin: 8px;
    backdrop-filter: blur(8px);
    background: rgba(0, 0, 0, 0.65); 
}

.rating span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--orange);
}