.button {
    color: var(--white);
    border: none;
    padding: 16px 32px;
    cursor: pointer;
    display: inline-block;
    border-radius: 12px;
    background: var(--purple);
    font-size: 16px;
    width: auto;
    align-self: flex-start;
    height: 64px;
}