.p {
    font-weight: 400;
    color: var(--text-second-color);
    font-weight: 400;
    margin: 0px;
}

.small {
    font-size: 16px;
    line-height: 24px;
}

.medium {
    font-size: 20px;
    line-height: 32px;
}