.card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;

    box-sizing: border-box;
    border-radius: 12px;
    padding: 8px 8px 16px 8px;
    width: 282px;
    height: 520px;
    backdrop-filter: blur(80px);
    background: rgba(32, 40, 62, 0.8);
}

.poster {
    display: flex;
    justify-content: center;    
}

.footer {
    display: flex;
    flex-direction: column;
}
