.favorite {
    display: flex;
    gap: 8px;  
    padding: 8px;  
}

.favorite span {
    font-weight: 600;
    font-size: 16px;

    line-height: 150%;
    letter-spacing: 0.02em;
}

.saved {
    color: var(--green);
}

.unsaved {
    color: var(--purple);
}