.navbar {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    backdrop-filter: blur(40px);
    background: rgba(18, 24, 41, 0.8);
    padding: 0px 120px;
    box-sizing: border-box;
}

.navbar img {
    /* margin-left: 120px;  */
}

.navbar-btn {
    display: flex;
    justify-content: right;
    width: 100%;
}